{% extends 'base.html.twig' %}

{% block title %} {{ parent()  }} | Création Lieu{% endblock %}

{% block body %}
    <h2>Création d'un nouveau lieu</h2>
    <div class="sortie-create">
        <div class="sortie-column">
            {{ form_start(lieuForm) }}
            <div class="form_widget mt-5 col-5">{{ form_widget(lieuForm) }}
                <button type="submit" class="btn btn-outline-light mt-5">
                    Ajouter
                </button></div>
            {{ form_end(lieuForm) }}
        </div>
    </div>
{% endblock %}

