{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si votre mail existe, vous pourrez changer votre mot de passe en cliquant sur ce lien.
        Celui-ci expire dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Changer de mot de passe : <a href="{{ url('app_reset_password', {'token' : token}) }}">{{ url('app_reset_password', {'token' : token}) }}</a>
    <p>Si cela ne fonctionne pas <a
                href="{{ path('app_forgot_password_request') }}">Retente ta chance ici</a>.</p>

{% endblock %}
