/*
.sortie_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.search_sortie_bloc{
    justify-content: center;
    display: flex;
    border: 2px solid #999999;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}

label {
    display: block;
}

input, select {
    margin-bottom: 0.2rem;
    box-sizing: border-box;
}

.sortie_block{
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}






*/






