{% extends 'base.html.twig' %}

{% block title %} {{ parent()  }} | Création Sortie{% endblock %}

{% block body %}
<h2>Création d'une nouvelle sortie</h2>
    <div class="sortie-create">
        <div class="sortie-column">
            {{ form_start(sortieForm) }}
            <div class="form_widget">{{ form_widget(sortieForm) }}
                <button>Valider</button>
            {{ form_end(sortieForm) }}
        </div>
    </div>
{% endblock %}