{% extends 'base.html.twig' %}

{% block title %} {{ parent()  }} | Création Ville{% endblock %}

{% block body %}
    <h2>Création d'une nouvelle ville</h2>
    <div class="sortie-create">
        <div class="sortie-column">
            {{ form_start(villeForm) }}
            {{ form_widget(villeForm) }}
            <button type="submit" class="Button-sortie">Ajouter</button></div>
            {{ form_end(villeForm) }}
        </div>
    </div>
{% endblock %}
