<footer >
    {% block footer %}
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">&copy;ENIzeneca - Tout le monde dehors {{ "now"|date("Y") }}</a>
            </div>
        </nav>

    {% endblock %}
</footer>

